# Python bytecode files
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environment
venv/
ENV/
env/
.venv/

# Django stuff:
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media/

# Static files (if using collectstatic)
static/

# IDE or editor files
.idea/
.vscode/
*.swp

# OS files
.DS_Store
Thumbs.db

# Configuration files for Django settings (optional)
config/settings.py
